:root {
  --crl-primary-100: hsl(157, 74%, 62%);
  --crl-primary-200: hsl(157, 100%, 85%);

  --crl-neutral-100: hsl(0, 0%, 100%);
  --crl-neutral-200: hsl(225, 40%, 83%);
  --crl-neutral-700: hsl(225, 21%, 45%);
  --crl-neutral-800: hsl(225, 26%, 23%);
  --crl-neutral-900: hsl(224, 35%, 11%);

  --ff-primary: "Chivo", sans-serif;
}
